@font-face {
  font-family: 'Louis George Café';
  src: url(../police/Louis_George_Cafe.ttf);
}


body {
  margin: 0;
}
    header {
      background-color: #000000;
      display: flex;
      align-items: center;
      text-align: center;
    }

    header ul {
      padding: 3%;
      margin: 2%;
    }

    .logo img {
      height: 100px;
      width: auto;
    }
    nav ul {
        list-style-type: none;
        display: flex;
        align-items: center;
  
        font-family: 'Louis George Café', sans-serif;
        font-size: 115%;
      }
  
      nav ul li {
        margin-left: 20px;
        margin-right: 10vw;
      }
  
      nav ul li a {
        color: #fff;
        text-decoration: none;
      }

      #gauche{
        justify-content: flex-start;
        margin-right: 40%;
        margin-bottom: 0;
      }
    
      #reseaux{
      display: flex;
      flex-direction: row;
      }
    
      #droite{
      justify-content: flex-end;
      }
    
      #droite img {
      max-height: 30px;
      max-width: 30px;
      }
    
      #reseaux li{
      padding-right: 5%;
      margin-bottom: 0;
      }
    
      #droite ul{
      list-style-type: none;
      text-decoration: none;
      padding: 0;
      }
    
      footer a{
      text-decoration: none;
      color: white;
      }
    
      footer {
      display: flex;
      background-color: black;
      padding: 2%;
  
      
      }
    
      footer div {
      display: flex;
      }
    
    
      .foot{
      justify-content: space-between;
      }
    
      .imgfoot{
      width: 25% ;
      margin-right: 3%;
      }
    
      footer ul{
      padding: 0;
      margin-top: 3%;
      align-self: flex-start;
      list-style-type: none;
      text-decoration: none;
      flex-direction: column;
      display: flex;
      }
    
      footer li{
      font-size: 1.2em;
      margin-bottom: 10px;
      color: white;
      font-family: Roboto_light,Arial, Helvetica, sans-serif;
      }
    
      footer a:hover {
      color: #aef4f7;
      }
    
      #reseaux img:hover{
        transform: scale(1.1);
      }
    
      footer p {
        text-align: center;
        color: white;
        font-size: 1.1em;
        display: flex;
        margin-top: 10px;
        align-self: flex-end;
        justify-content: center;
        position: absolute;
        left: 50%;
        font-family: 'Louis George Café';
      }

      