* {
    text-decoration: none;
}


body {
    width: 80%;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    min-height: 1000px;
    display: inline-block;
    border: 1px solid #f1f1f1;
    background: #FFF;
    box-shadow: 0 0 70px 0 rgba(94, 4, 4, 0.2), 0 54px 55px 0 rgba(0,0,0,0.25);
    margin-left: 10%;
    background-size: 300% 300%;

    
}

img {
  height: 140px;
  float: left;
  padding-left: 35px;
  padding-top: 25px;
}

h1 {
    text-align: center;
    font-family: 'Louis George Café', sans-serif;
    font-size: 5rem;
    margin-top: 200px;
}

h2 {
  text-align: center;
  font-size: 35px;
}

h3 {
  text-align: center;
}

.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  a{
    display: inline-block;
    width: 300px;
    height: 60px;
    line-height: 40px;
    font-size: 18px;
    font-family: 'Louis George Café',sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin-top: 140px;
  }
  
  a span{
    position: relative;
    z-index: 2;
    padding-top: 2px;
    font-size: 30px;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
  }

